---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import Animation from "./Animation.astro";
const { banner } = Astro.props;
const { title, button, image, content } = banner;
---

<section
  class="section banner relative"
  style={`background-image: url('/images/background_banner.webp'); background-size: cover; background-position: center;`}
>
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title" set:html={markdownify(title)} />

        <h4 class="mt-6 font-normal" set:html={markdownify(content)} />

        {
          button.enable && (
            <div class="flex justify-center mt-8">
              <a class="btn-blue" href={button.link}>
                {button.label}
              </a>
            </div>
          )
        }
      </div>
      <div class="lg:col-6 lg:-mb-16">
        <div
          class="image-animation-container flex justify-center relative lg:block"
        >
          <Image
            class="lg:w-4/5 object-contain"
            alt="banner"
            src={image}
            width={496}
            height={496}
          />
          <Animation class="absolute inset-0 z-10" />
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-8 lg:mt-0">
      <Image
        class="w-[146px] lg:w-[146px] object-contain"
        alt="LOGO-INVIMA"
        src="/images/LOGO-INVIMA.webp"
        width={200}
        height={200}
      />
    </div>
  </div>
</section>
